.authors-page {
  padding-top: 20px;

  &__info-block {
  }

  &__container {
    @extend %container;
  }

  &__search {
    margin-bottom: 30px;
  }

  &__main {
    background-color: #f9fafc;
    padding: 40px 0 100px;
  }

  &__filter {
    margin-bottom: 30px;
  }

  &__sort {
    margin-bottom: 20px;
  }

  &__table {
    margin-bottom: 60px;
  }

  @include respond(phone) {
    padding-top: 16px;

    &__info-block {
    }

    &__container {
      @extend %container;
    }

    &__search {
      margin-bottom: 16px;
    }

    &__main {
      padding: 20px 0 80px;
    }

    &__filter {
      margin-bottom: 16px;
    }

    &__sort {
      margin-bottom: 16px;
    }

    &__table {
      margin-bottom: 40px;
    }
  }
}