.blog-page {
  padding: 20px 0 0;

  &__info-block {
  }

  &__container {
    @extend %container;
  }

  &__main {
    background-color: #f9fafc;
    padding: 40px 0 100px;
  }

  &__filter {
    margin-bottom: 30px;
  }

  &__sort {
    margin-bottom: 20px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 60px;
  }

  @include respond(tab-land) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @include respond(phone) {
    &__main {
      padding: 20px 0 80px;
    }

    &__filter {
      margin-bottom: 16px;
    }

    &__cards {
      margin-bottom: 40px;
    }
  }
}