.blog-card {
  $e: &;

  padding: 20px;
  background-color: $white-color;
  border-radius: 2px;
  filter: drop-shadow(0px 5px 30px rgba(224, 227, 231, 0.4));
  display: flex;
  align-items: flex-start;

  &--active {

    #{$e}__desc {
      display: block;
      @include text-style(1.6rem, 500, $text-color);
      line-height: 22px;
      height: 44px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    #{$e}__img-box {
      width: 190px;
      height: 132px;
      margin-right: 12px;
    }

    #{$e}__date {
      @include text-style(1.6rem, 500, #BDBDBD);
    }

    #{$e}__title {
      @include text-style(1.6rem, 600, $title-color);
      height: 44px;
      -webkit-line-clamp: 2;
      margin-bottom: 8px;
    }
  }

  &__img-box {
    position: relative;
    width: 173px;
    height: 120px;
    border-radius: 2px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__img {
    position: absolute;
    width: 100%;
    max-width: unset;
    height: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__date {
    @include text-style(1.4rem, 500, #BDBDBD);
  }

  &__tag {
    padding: 3px 10px;
    background-color: rgba(17, 156, 89, 0.1);
    border-radius: 2px;
    @include text-style(1.4rem, 600, #119C59);
  }

  &__title {
    @include text-style(1.6rem, 600, $title-color);
    line-height: 22px;
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &__desc {
    display: none;
  }

  @include respond(phone) {
    padding: 10px;

    &--active {

      height: 150px;
      position: relative;

      #{$e}__desc {
        display: block;
        @include text-style(1.4rem, 500, $text-color);
        line-height: 18px;
        height: 38px;
        -webkit-line-clamp: 2;
        position: absolute;
        left: 10px;
        top: 105px;
      }

      #{$e}__img-box {
        width: 125px;
        height: 86px;
        margin-right: 6px;
      }

      #{$e}__date {
        @include text-style(1.2rem, 500, #BDBDBD);
        margin-bottom: 5px;
      }

      #{$e}__title {
        @include text-style(1.4rem, 600, $title-color);
        height: 38px;
        -webkit-line-clamp: 2;
        margin-bottom: 0px;
      }
    }

    &__img-box {
      width: 125px;
      height: 86px;
      margin-right: 6px;
    }

    &__row {
      display: block;
      margin-bottom: 5px;
    }

    &__date {
      @include text-style(1.2rem, 500, #BDBDBD);
      margin-bottom: 5px;
    }

    &__tag {
      display: inline-block;
      @include text-style(1.2rem, 600, #119C59);
    }

    &__title {
      @include text-style(1.4rem, 600, $title-color);
      line-height: 19px;
      height: 38px;
      -webkit-line-clamp: 2;
    }
  }
}