.footer {
  padding: 40px 0;
  background-color: #2A353D;

  &__container {
    @extend %container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__col {

  }

  &__logo {
    margin-bottom: 10px;
  }

  &__logo-text {
    @include text-style(1.4rem, 400, #BDBDBD);
    line-height: 19px;
    margin-bottom: 20px;
  }

  &__text {
    @include text-style(1.4rem, 400, #BDBDBD);
    display: flex;
    align-items: center;

    svg {
      fill: #E0E0E0;
      margin-right: 10px;
    }

    &--link {
      cursor: pointer;
      color: #BDBDBD !important;
      font-weight: 400 !important;
      text-decoration: unset !important;
    }

    &--mb10 {
      margin-bottom: 10px;
    }

    &--mb20 {
      margin-bottom: 20px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__title {
    @include text-style(1.6rem, 600, $white-color);
    margin-bottom: 10px;

    &--fw400 {
      font-weight: 400;
    }

    &--mb20 {
      margin-bottom: 20px;
    }
  }

  &__button {
    background-color: transparent;
    border: 1px solid $white-color;
    border-radius: 2px;
    height: 44px;
    width: 250px;
    @include text-style(1.6rem, 600, $white-color);
    margin-bottom: 30px;
  }

  @include respond(tab-land) {
    &__container {
      flex-wrap: wrap;
    }

    &__col {
      margin-bottom: 40px;
    }
  }

  @include respond(phone) {
    padding: 5px 0 30px;

    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__col {
      text-align: center;
      width: 100%;
      margin-bottom: 0;

      &:not(:last-child) {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(#F5F5F5, .2);
        margin-bottom: 16px;
      }
    }

    &__logo-text {
      @include text-style(1.2rem, 400, #BDBDBD);
      line-height: 16px;
      margin-bottom: 12px;
    }

    &__text {
      @include text-style(1.4rem, 400, #BDBDBD);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        fill: #E0E0E0;
        margin-right: 6px;
      }
    }

    &__socials {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__title {
      @include text-style(1.4rem, 600, $white-color);
      margin-bottom: 12px;

      &--mb20 {
        margin-bottom: 12px;
      }
    }

    &__button {
      margin-bottom: 20px;
    }
  }
}