.info-block {

  &__container {
    @extend %container;
  }

  &__breadcrumb {
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {

  }

  &__heading {
    @include text-style(4rem, 800, $title-color);
    line-height: 48px;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include text-style(1.6rem, 500, $text-color);
    line-height: 24px;
    max-width: 530px;
  }
}