.journal-section {

  &__container {
    @extend %container;
    display: flex;
    align-items: flex-start;
  }

  &__heading {
    margin-bottom: 55px;
  }

  &__journal {

  }

  &__new-box {
    width: 672px;
    margin-right: 80px;
  }

  &__blogs {
    width: 488px;
  }

  &__blog-card {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @include respond(tab-land) {
    &__container {
      display: block;
    }

    &__new-box {
      width: unset;
      margin-right: 0;
      margin-bottom: 80px;
    }

    &__blogs {
      width: unset;
    }
  }

  @include respond(phone) {
    &__heading {
      margin-bottom: 30px;
    }

    &__blog-card {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}