.other-page {
  padding-top: 20px;

  &__info-block {
  }

  &__container {
    @extend %container;
  }

  &__main {
    background-color: #f9fafc;
    padding: 40px 0 100px;
  }

  &__search {
    margin-bottom: 30px;
  }

  &__sort {
    margin-bottom: 20px;
  }

  &__cards {
    margin-bottom: 60px;
  }

  &__journal {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include respond(phone) {
    &__main {
      padding: 20px 0 80px;
    }

    &__search {
      margin-bottom: 16px;
    }

    &__sort {
      margin-bottom: 16px;
    }

    &__cards {
      margin-bottom: 40px;
    }

    &__journal {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}