.rules-page {
  padding-top: 20px;

  &__main {
    background-color: #f9fafc;
    padding: 40px 0 100px;
  }

  &__container {
    @extend %container;
  }

  &__text {
    @include text-style(1.6rem, 500, $text-color);
    line-height: 22px;
    max-width: 895px;
  }

  @include respond(tab-land) {
    &__text {
      max-width: unset;
    }
  }

  @include respond(phone) {
    &__main {
      padding: 20px 0 80px;
    }

    &__text {
      @include text-style(1.4rem, 500, $text-color);
      line-height: 19px;
      max-width: unset;
    }
  }
}