.welcome-section {
  padding-top: 9px;
  padding-bottom: 80px;

  &__container {
    @extend %container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    max-width: 730px;
    padding-top: 20px;
  }

  &__heading {
    @include text-style(2rem, 800, $secondary-color);
    margin-bottom: 5px;
  }

  &__title {
    @include text-style(4.8rem, 700, $title-color);
    font-family: $roman;
    font-style: italic;
    line-height: 120%;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(1.6rem, 500, $text-color);
    line-height: 24px;
    margin-bottom: 5px;
    transition: all 2s;

    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    &--active {
      height: unset;
      overflow: unset;
      text-overflow: unset;
      display: block;
      -webkit-box-orient: unset;
      -webkit-line-clamp: unset;
    }
  }

  &__expand {
    display: inline-block;
    @include text-style(1.6rem, 600, $secondary-color);
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    width: 184px;

    &--mobile {
      display: none !important;
    }
  }

  @include respond(tab-land) {
    &__img {
      width: 400px;
    }
  }

  @include respond(phone) {
    &__container {
      display: block;
    }

    &__info {
      max-width: unset;
      padding-top: 0;
    }

    &__heading {
      @include text-style(1.6rem, 800, $secondary-color);
    }

    &__title {
      @include text-style(4rem, 700, $title-color);
    }

    &__subtitle {
      @include text-style(1.4rem, 500, $text-color);
      line-height: 21px;

      height: 63px;
      -webkit-line-clamp: 3;

      &--active {
        height: unset;
        overflow: unset;
        text-overflow: unset;
        display: block;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
      }
    }

    &__expand {
      margin-bottom: 20px;
    }

    &__button {
      width: 100%;
      display: none !important;

      &--mobile {
        display: block !important;
      }
    }

    &__img {
      width: unset;
      margin-bottom: 20px;
    }
  }
}